@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-link{
    @apply relative font-semibold text-white cursor-pointer text-[17px] w-fit md:block after:block after:content-[""] after:absolute after:h-[3px] after:bg-blue-400 after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center hidden
  }
  .nav-link-mobile {
    @apply relative mb-[2rem] font-semibold text-white cursor-pointer text-[27px] w-fit md:block after:block after:content-[""] after:absolute after:h-[3px] after:bg-blue-400 after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center
  }
  .heading {
    @apply text-center text-white text-[28px] sm:text-[33px] md:text-[45px] font-bold uppercase
  }
  body[data-theme='light'] {
    background-color: #f44336; /* Rojo para el modo claro */
    color: white;
    transition: background-color 0.3s, color 0.3s;
  }
  
  /* Modo oscuro (Gris) */
  body[data-theme='dark'] {
    background-color: #555555; /* Gris para el modo oscuro */
    color: white;
    transition: background-color 0.3s, color 0.3s;
  }
  
  /* Aseguramos que todos los elementos hereden estos estilos */
  .app-container {
    background-color: inherit; /* Para heredar el color de fondo global */
    color: inherit; /* Para heredar el color de texto global */
  }
}



